/* Genel sayfa stili */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: monospace, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e1c35;
}

/* Sayfa içeriği */
header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
  color: #333;
}

audio {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.play {
  background-color: #fe8900 !important;
  color: white !important;
  padding: 15px 30px;
  font-size: 1em;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.play:hover {
  background-color: #45a049;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.play:focus {
  outline: none;
}

/* Footer stili */
footer {
  width: 100%;
  text-align: center;
  background-color: #070F22;
  color: #fff;
  font-size: 0.9em;
  padding: 10px;
  margin-top: auto; /* Footer'ı en alta yerleştir */
}

footer p {
  margin: 0;
}

.sound_image {
    border-radius: 20px;
}

.viewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 150px;
  gap: 30px;
}

.button_s {
  font-size: 50px;
  border: none;
  background: transparent;
  color: white;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.3));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transform: scale(1) rotate(0deg);
  transition: transform 0.1s ease-in-out;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-self: center;
  text-align: -webkit-center;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}


/* Küçük ekranlar için responsive ayar */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
  }

  button {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}

.button_s:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.button_s.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}